<%-include("partials/header")-%>
<%-include("partials/navbar")-%>
<div class="container header-container" style="overflow-y: hidden; padding-top:6.3rem">
   <div class="row">
      <div class="heading">
         <h1>District Metrics</h1>
         <p style="color: #ffffff;">GRANULAR ESTIMATIONS OF HOW MUCH INDIAN HHs EARN & HOW THEY SPEND</p>
         <div class="hero-width-flex">
            <a href="#" class="btn btn-primary text-secondary" data-cta-link="">
               Our Services
            </a>
            <a href="https://districtmetrics.com/" class="btn btn-outline-secondary text-secondary" data-cta-sign-up="">
               District Metrics
            </a>
         </div>
      </div>
      <img src="/images/pdm.png" class="graphic graphic-main-page hide image-dm"
         alt="Turn feedback from Qualtrics, Zendesk, Reviews, Complaints into reports easily">
   </div>
</div>
<%- include("partials/triangle-div") %>
</section>
<div class="container dm-about-us">
   <div class="row">
      <div class="col-md-6">
         <p>
            <strong style="font-weight: 800; font-size: 1.2rem">District Metrics</strong> helps you to unravel the
            potential household consumers in India at micro-geographies. The service brings you - demographics,
            purchasing power/disposable income, consumption expenditure and economic activity for 722 districts & 6000
            towns/centres. The reliable data and robust estimates in DM are powered with querying tools and supported by
            dynamic map-views.
         </p>
      </div>
   </div>
</div>
<div class="container">
   <div class="row relative">
      <div class="">
         <video width="90%" height="auto" preload="auto" muted="" autoplay="" loop="">
            <source src="https://www.getthematic.com/assets/video/product_video.mp4" type="video/mp4"
               style="margin: 4% auto">
            Your browser does not support the video tag.
         </video>
      </div>
   </div>
</div>
<div class="container h-100 dm-services">
   <div class="row align-items-center h-100">
      <div class="col-md-4">
         <h2 style="color: #ffffff;">
            Our Services
         </h2>
      </div>
      <div class="col-md-8" style="text-align: justify; color: #ffffff;">
         <p style="color: #ffffff;">
            The service has a variety of business and research applications from CMOs & Consumer
            insights professionals on one hand and professors & students on the other hand. Knowledge
            managers, consultants and researchers can extensively use the service for client strategy and
            research purposes respectively.
         </p>
      </div>
   </div>
</div>
<div class="container" style="margin: 1.5% auto; text-align:justify">
   <div class="row">
      <div class="col-md-12">
         <center>
            <h2>
               Why use DM?
            </h2>
         </center>
      </div>
      <div class="col-md-6" style="padding-top: .5%">
         <ul style="list-style-image: url('/images/tick.png')">
            <li>
               Conduct in-depth research & analysis for 44 PFCE expenditure categories with sub-classification of goods
               – Basic, Intermediate, Premium & Luxury
            </li>
         </ul>
      </div>
      <div class="col-md-6" style="padding-top: .5%;">
         <ul style="list-style-image: url('/images/tick.png')">
            <li>
               Largest granular database on HHs earnings & spends in India
            </li>
         </ul>
      </div>
      <div class="col-md-6" style="padding-top: .5%;">
         <ul style="list-style-image: url('/images/tick.png')">
            <li>
               Identify HHs demand potential at micro-geographies
            </li>
         </ul>
      </div>
      <div class="col-md-6" style="padding-top: .5%;">
         <ul style="list-style-image: url('/images/tick.png')">
            <li>
               Visualization through maps helps comprehending information quickly and simplifies decision makings
            </li>
         </ul>
      </div>
   </div>
</div>
<center>
   <div class="container  applications ">
      <div class="row">
         <h2>Features</h2>
         <div class="col-md-3 features">
            <div class="col-md-12" style="text-align: justify;">
               <center>
                  <h1>
                     <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-fill" fill="#fff"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                           d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                     </svg>
                  </h1>
               </center>

               <h6 style="text-align: center;color: #ffffff">
                  Estimating of Purchasing Power
               </h6>
               <ul style="font-size: .8rem ;list-style-image: url('/images/arrow.jpg')">
                  <li>
                     Purchasing Power or Disposable Income at
                     micro-geographies <br>
                     - Districts of India – 722 districts with
                     urban/rural breakup <br>
                     - Towns of India - 6000 towns / banking
                     centres ( It is defined as an administrative unit
                     with at least 3 bank branches
                  </li>
                  <li>
                     Distribution of Income by Income Groups
                  </li>
                  <li>
                     Distribution of HHs by Income groups
                  </li>
                  <li>
                     Time series from 2011-12
                  </li>
               </ul>
               </p>
            </div>
         </div>

         <div class="col-md-3 features">
            <div class="col-md-12" style="text-align: justify;">
               <center>
                  <h1>
                     <i class="fas fa-balance-scale-right" style="color: #fff"></i>
                  </h1>
               </center>

               <h6 style="text-align: center;color: #ffffff">
                  Index of Economic Activity (IEA)
               </h6>
               <ul style="font-size: .8rem ;list-style-image: url('/images/arrow.jpg')">
                  <li>
                     Indices based on Sectoral lending datasets for
                     640 districts
                  </li>
                  <li>
                     Relative importance of an Economic Activity in a
                     district
                  </li>
                  <li>
                     Time series from 2011-12
                  </li>
               </ul>
               </p>
            </div>
         </div>
         <div class="col-md-3 features">
            <div class="col-md-12" style="text-align: justify;">
               <center>
                  <h1>
                     <i class="fas fa-globe-asia" style="color: #fff"></i>
                  </h1>
               </center>

               <h6 style="text-align: center;color: #ffffff">
                  Demographics
               </h6>
               <ul style="font-size: .8rem ;list-style-image: url('/images/arrow.jpg')">
                  <li>
                     PCA - Census 2011 for 640 districts <br>
                     - Rural <br>
                     - Urban <br>
                     - Municipal Wards for 10 million plus pop-strata towns
                  </li>
                  <li>
                     Latest estimates of Population – Urban &
                     Rural
                  </li>
                  <li>
                     Latest estimates of no. of HHs - Urban & Rural
                  </li>
               </ul>
               </p>
            </div>
         </div>
         <div class="col-md-3 features">
            <div class="col-md-12" style="text-align: justify;">
               <center>
                  <h1>
                     <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-graph-up" fill="#fff"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                           d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z" />
                     </svg>
                  </h1>
               </center>

               <h6 style="text-align: center;color: #ffffff">
                  Estimation of Consumption <br> Expenditure (PFCE)
               </h6>
               <ul style="font-size: .8rem ;list-style-image: url('/images/arrow.jpg')">
                  <li>
                     PFCE estimations at micro-geographies <br>
                     - Districts of India – 722 districts with urban/rural
                     breakup <br>
                     - Towns of India - 6000 towns / banking centres (It is
                     defined as an administrative unit with at least 3 bank
                     branches
                  </li>
                  <li>
                     PFCE estimations for 44 product categories
                  </li>
                  <li>
                     PFCE estimate for each product with following sub
                     classifications
                     <br> - Basic - Premium
                     <br> - Intermediate - Luxury
                  </li>
                  <li>
                     Time series from 2011-12
                  </li>
               </ul>
               </p>
            </div>
         </div>
         <div class="col-md-3 features">
            <div class="col-md-12" style="text-align: justify;">
               <center>
                  <h1>
                     <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="#fff"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                           d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                           d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                     </svg>
                  </h1>
               </center>

               <h6 style="text-align: center;color: #ffffff">
                  Choropleth Maps
               </h6>
               <ul style="font-size: .8rem ;list-style-image: url('/images/arrow.jpg')">
                  <li>
                     District shape files
                  </li>
                  <li>
                     Ward shape files
                  </li>
                  <li>
                     Dynamic display of data
                  </li>
                  <li>
                     Juxtapose Your proprietary data
                  </li>
               </ul>
               </p>
            </div>
         </div>
         <div class="col-md-3 features">
            <div class="col-md-12" style="text-align: justify;">
               <center>
                  <h1>
                     <i class="fas fa-clipboard-list" style="color: #fff"></i>
                  </h1>
               </center>

               <h6 style="text-align: center;color: #ffffff">
                  Stylised Reports & Query
               </h6>
               <ul style="font-size: .8rem ;list-style-image: url('/images/arrow.jpg')">
                  <li>
                     Extensive filtering and querying on all indicators
                     Export to spread sheet facility
                  </li>
                  <li>
                     Dashboard with ready to use outputs
                  </li>
                  <li>
                     Reports with analytical charts
                  </li>
               </ul>
               </p>
            </div>
         </div>
      </div>
   </div>
</center>
<div class="shadow" style="margin: 4% 2%">
   <div class="container h-100">
      <div class="row align-items-center h-100">
         <div class="col-md-4 align-items-center h-100">
            <h2 style="margin: 10% 0">
               Applications
            </h2>
            <p>
            <ul class="" style="list-style-image: url('/images/arrow.jpg')">
               <li>
                  Product Potential Mapping
               </li>
               <li>
                  Prioritize Geographies
               </li>
               <li>
                  Product Planning
               </li>
               <li>
                  Identifying Emerging Geographies
               </li>
               <li>
                  Deciphering Trends In Income &
               </li>
               <li>
                  Expenditure Patterns
               </li>
               <li>
                  Research By Faculty
               </li>
               <li>
                  Assignments By MBA Students
               </li>
            </ul>
            </p>
         </div>
         <div class="col-md-4 align-items-center h-100">
            <img src="/images/graphic.png" alt="" style="max-width: 100%;" srcset="">
         </div>
         <div class="col-md-4" style="    
         text-align: center;
         ">
            <h2 style="margin: 10% 0">
               User Segments
            </h2>
            <center>
               <div class="col-md-12 dm-management">
                  <div class="row" style="height:20rem; width: 20rem; margin-top:5%">
                     <div class="col-md-6 top-left">
                        <p>
                           Consumers Durable Automobile
                        </p>
                     </div>
                     <div class="col-md-6 top-right">
                        <p>
                           FMCG Consulting
                        </p>
                     </div>
                     <div class="col-md-6 bottom-left">
                        <p>
                           Management Schools/Academia Research Institution
                        </p>
                     </div>
                     <div class="col-md-6 bottom-right">
                        <p>
                           Insurance Goverment
                        </p>
                     </div>
                  </div>
               </div>
            </center>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="row">
         <h2>
            Terms of Access
         </h2>
         <div class="col-md-4" style="padding: 3%;">
            <ul style="list-style-image: url('/images/tick.png'); ">
               <li>
                  Annual Subscription Fee
               </li>
            </ul>
         </div>
         <div class="col-md-4" style="padding: 3%;">
            <ul style="list-style-image: url('/images/tick.png');">
               <li>
                  Issuance Of A Secure
                  Username And Password
               </li>
            </ul>
         </div>
         <div class="col-md-4" style="padding: 3%;">
            <ul style="list-style-image: url('/images/tick.png');">
               <li>
                  Ip Based Access For Management
                  Schools & Academia
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>
<%-include('partials/contact.ejs')%>
<%-include("partials/footer")-%>