<%-include("partials/header")-%>
<%-include("partials/navbar")-%>
<div class="container header-container" style="overflow-y: hidden; padding-top:6.3rem">
    <div class="row">
        <div class="heading">
            <h1>Geo Cre De</h1>
            <p style="color: #fff">Empowering Researchers With Granular Data-sets On Credit Deposit Markets</p>
            <div class="hero-width-flex">
                <a href="#" class="btn btn-primary text-secondary" data-cta-link="">
                    Applications
                </a>
                <a href="https://geocrede.in/" class="btn btn-outline-secondary text-secondary" data-cta-sign-up="">
                    GeoCreDe
                </a>
            </div>
        </div>
        <img src="/images/gcd2.png" style="object-position: left; max-width:28rem"
            class="graphic graphic-main-page hide image-dm gcd-image "
            alt="Turn feedback from Qualtrics, Zendesk, Reviews, Complaints into reports easily">
    </div>
</div>
<%- include("partials/triangle-div") %>



<div class="container" style="margin-top: -10%">
    <div class="row">
        <div class="col-md-6">
            <p style="text-align: justify;">
                <strong style="font-weight: 800; font-size: 1.2rem">GeoCreDe</strong> is a web-delivered
                services providing granular database of deposit-
                credit markets in India. The data is sourced from
                quarterly releases of Reserve Bank of India (RBI).
                The quarterly series of the database is available
                from 2012-13 onwards.
                <br>
                Empowering Researchers With Granular
                Data-sets On Credit Deposit Markets
                The database is empowered with a user-friendly
                querying interface and a Geo-visual (map) depiction
                of the data. The user interface facilitates in
                filtering /querying the database. Researchers can
                comprehend the data seamlessly for research &
                consulting.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row relative">
        <div class="">
            <video width="90%" height="auto" preload="auto" muted="" autoplay="" loop="" style="margin: 4% auto">
                <source src="https://www.getthematic.com/assets/video/product_video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4" style="margin-top:4%">
            <h4>
                Types of DataSets
            </h4>
            <ul style="list-style-image: url('/images/tick.png');margin-top: 10% ">
                <li>
                    Total Deposit – Savings & Current
                </li>
                <li>
                    Total Credit
                </li>
                <li>
                    Credit by Occupation groups & sub-groups
                </li>
            </ul>
        </div>
        <div class="col-md-4" style="margin-top:4%">
            <h4>
                Granularity
            </h4>
            <ul style="list-style-image: url('/images/tick.png');margin-top: 10% ">
                <li>
                    722 Districts (Urban/Rural)
                    6000 Urban centres
                </li>
                <li>
                    6000 Urban centres
                </li>
            </ul>
        </div>
        <div class="col-md-4" style="margin-top:4%;">
            <h4>
                CATEGORY OF BANKS
            </h4>
            <ul style="list-style-image: url('/images/tick.png'); margin-top: 10%;">
                <li>
                    Public, Private, Small, Co-operative, &
                    Foreign
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <center>
                <img src="/images/graphic2.png" alt="" style="max-width: 100%;margin-top: 25%;" srcset="">
            </center>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <h2 style="margin: 10% 0">
                    Applications
                </h2>
                <p>
                <ul class="" style="list-style-image: url('/images/arrow.jpg')">
                    <li>
                        Granular Market Size analysis
                    </li>
                    <li>
                        Market share analysis by category of banks
                    </li>
                    <li>
                        Analysis on Sectoral Credit Disbursement by
                        micro-geographies
                    </li>
                    <li>
                        Regional analysis on Credit by Occupation
                    </li>
                    <li>
                        Performance of Small Finance Banks
                    </li>
                </ul>
            </div>
            <div class="col-md-12">
                <h2 style="margin: 10% 0">
                    ACCESS TO GEOCREDE
                </h2>
                <p>
                <ul class="" style="list-style-image: url('/images/arrow.jpg')">
                    <li>
                        Annual subscription fee to access GeoCreDe
                    </li>
                    <li>
                        Issuance of secure login & Password
                    </li>
                    <li>
                        IP based access for Academic & Research
                        institutions
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin: 5% auto 10%">
    <center>
        <h2>
            GEOCREDE-THE DATA SETS
        </h2>
    </center>
    <center>
        <img src="/images/table.png" class="shadow" alt="" style="max-width: 100%;margin-top: 2%;" srcset="">
    </center>
</div>
<%-include("partials/contact")-%>
<%-include("partials/footer")-%>