<%-include('partials/header.ejs')%>
<%-include('partials/navbar.ejs')%>
<div class="container header-container">
   <div class="row">
      <div class="heading">
         <h1>A New Era of Civic-tech by Akara Research</h1>
         <p>A data sciences driven Geo visual analytics firm</p>
         <div class="hero-width-flex">
            <a href="#" class="btn btn-primary text-secondary" data-cta-link="">
               Bussniess Databases
            </a>
            <a href="#" class="btn btn-outline-secondary text-secondary" data-cta-sign-up="">
               Customized Solutions
            </a>
         </div>
      </div>
      <img src="/images/header-new-3.png" class="graphic graphic-main-page hide"
         alt="Turn feedback from Qualtrics, Zendesk, Reviews, Complaints into reports easily">
   </div>
</div>
<%- include("partials/triangle-div") %>
<div class="container main-page-video">
   <div class="row relative">
      <div class="">
         <video width="90%" height="auto" preload="auto" muted="" autoplay="" loop="">
            <source src="https://www.getthematic.com/assets/video/product_video.mp4" type="video/mp4">
            Your browser does not support the video tag.
         </video>
      </div>
   </div>
</div>
<div class="about-area overflow-hidden" style="margin-top:5%">
   <div class="container p-5" style ="max-width: 100%; background-color:#eeeeee">
      <div class="items-box">
         <div class="row">
            <center>
               <h1 class="pb-5" >Products & Solutions</h1>
            </center>
            <center><h2 class="pb-5 pt-3" >Products</h2></center>
            <div class="col-md-6 thumb ">
               <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                     <div class="carousel-item active" data-interval="2000">
                        <img src="/images/pdm.png" class="d-block w-100" alt="..." style="max-height: 440px">
                     </div>
                     <div class="carousel-item" data-interval="2000">
                        <img src="/images/pdm2.png" class="d-block w-100" alt="..." style="max-height: 440px">
                     </div>
                     <div class="carousel-item" data-interval="2000">
                        <img src="/images/pdm.png" class="d-block w-100" alt="..." style="max-height: 440px">
                     </div>
                     <div class="carousel-item" data-interval="2000">
                        <img src="/images/pdm2.png" class="d-block w-100" alt="..." style="max-height: 440px">
                     </div>
                     <div class="carousel-item" data-interval="2000">
                        <img src="/images/xc.png" class="d-block w-100" alt="..." style="max-height: 440px">
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6 info info1">
               <!-- <style>
                  .info1 p,.info1 h4,.info1 h5{ 
                     color: white
                  }
               </style> -->
               <h4>We provide SaaS model products with Annual subscription plan</h4>
               <p>
                  Akara builds & provides products like SaaS model --- an annual subscription-based as well as a Managed
                  service Provider (MSP). The services encompass Akara’s research driven granular estimation on demand
                  for Indian household market, the Indian banking market and technology-based audits for firms.
               </p>
               <ul>
                  <li>
                     <h5>Datasets for Informed Decision
                        Making</h5>
                     <p>
                        Activities that facilitate awarenessMake your target audienc aware of the problem you’re
                        addressing and how you’re solving it
                     </p>
                  </li>
                  <li>
                     <h5>Updated Statistics</h5>
                     <p>
                        Activities that facilitate evaluationConvert those who are aware into leads
                     </p>
                  </li>
                  <li>
                     <h5>Powerful Tools</h5>
                     <p>
                        Tedious so to behaved written account ferrars moments.
                     </p>
                  </li>
               </ul>
               <center><a class="btn circle btn-md btn-gradient icon-left" href="#">Know More</a></center>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="about-area overflow-hidden">
   <div class="container">
      <div class="items-box">
         <center><h2 class="pb-5 pt-5">Customised Solutions</h2></center>
         <div class="row ">

            <div class="col-md-6 info float-md-right order-md-first order-last">
               <h4>Akara conducts research survey and Analysis on demand</h4>
               <p>
                  Akara builds customised solutions in areas of Urban Governance – Water, Sanitation, Solid waste
                  management, Transportation, etc. The solutions are build for the ULBs along with partners including
                  Big four consultants, Multilateral agencies & Government corporations
               </p>
               <ul>
                  <li>
                     <h5>Define Work Done</h5>
                     <p>
                        Use market segmentation and create personas to get a picture of the people you are targeting.
                     </p>
                  </li>
                  <li>
                     <h5>Test it out to your customers</h5>
                     <p>
                        Making your test group answer a survey is a great way to ensure they possess the attributes of
                        your target customer.
                     </p>
                  </li>

                  <li>
                     <h5>Define your value proposition</h5>
                     <p>
                        Build only what is needed to create enough value for your target customers to validate the
                        direction of your product.
                     </p>
                  </li>
                  <li>
                     <h5>State your MVP feature set</h5>
                     <p>
                        Build only what is needed to create enough value for your target customers
                        to validate the direction of your product.
                     </p>
                  </li>
                  <li>
                     <h5>Make your MVP prototype</h5>
                     <p>
                        Apply user experience principles to receive feedback and to bring your feature set to life for
                        your customers.
                     </p>
                  </li>
                  <li>
                     <h5>Know “undeserved” needs</h5>
                     <p>
                        What needs do they have that are adequately met?
                     </p>
                  </li>
               </ul>
               <center><a class="btn circle btn-md btn-gradient icon-left" href="#">Know More</a></center>
            </div>
            <div class="col-md-6 thumb order-md-last order-first" style="padding: 5%;">
               <div class="row ">
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                     <div class="carousel-inner">
                        <div class="carousel-item active" data-interval="2000">
                           <img src="/images/water1.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-interval="2000">
                           <img src="/images/swm2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-interval="2000">
                           <img src="/images/fmcg.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-interval="2000">
                           <img src="/images/s2.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-interval="2000">
                           <img src="/images/ug1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-interval="2000">
                           <img src="/images/t1.jpg" style="max-width: 70%;" class="d-block w-100" alt="...">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="owl-slider home-middle-banner">
   <div class="opacity">
      <div id="carousel" class="owl-carousel owl-loaded owl-drag">
         <div class="owl-stage-outer owl-height" style="height: 179.625px;">
            <div class="owl-stage">
               <div class="owl-item">
                  <div class="item">
                     <h3 style="padding-bottom: 6%;">MOU</h3>
                     <center>
                        <img src="/images/mou.png" class="d-block" style="width: 5.9rem" alt="...">
                     </center>
                  </div>
               </div>
               <div class="owl-item">
                  <div class="item">
                     <h3 style="padding-bottom: 6%;">Associates</h3>
                     <center>
                        <div class="container">
                           <div class="row align-items-start">
                              <div class="col">
                                 <img src="/images/associates1.png" class="d-block" style="width: 5rem" alt="...">
                              </div>
                              <div class="col">
                                 <img src="/images/associates2.png.jpg" class="d-block" style="width: 10rem" alt="...">
                              </div>
                              <div class="col">
                                 <img src="/images/associates3.png" class="d-block" style="width: 5rem" alt="...">
                              </div>
                           </div>
                        </div>
                     </center>
                  </div>
               </div>
               <div class="owl-item">
                  <div class="item">
                     <h3 style="padding-bottom: 6%;">Empanelment</h3>
                     <center>
                        <img src="/images/empanelment.jpg" class="d-block" style="width: 12rem" alt="...">
                     </center>
                  </div>
               </div>
            </div>
         </div>
         <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span class="span"
                  aria-label="Previous">‹</span></button><button type="button" role="presentation"
               class="owl-next"><span aria-label="Next" class="span">›</span></button></div>
         <div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button"
               class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div>
      </div>
   </div>
</div>
<div class="container" style="margin-top: 4%;">
   <div class="section-title">
      <h2>Testimonials</h2>
      <div class="section-subtitle">Clients Reviews</div>
      <span class="section-separator"></span>
      <center>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis
            pulvinar.</p>
      </center>
   </div>
</div>
<section class="testimonials">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div id="customers-testimonials" class="owl-carousel">
               <!--END OF TESTIMONIAL 2 -->
               <!--TESTIMONIAL 3 -->
               <div class="item">
                  <div class="shadow-effect">
                     <img class="img-circle" style="max-width: 120px;"
                        src="https://photos.wikimapia.org/p/00/00/76/22/40_big.jpg" alt="">
                     <p>The GIS based on property tax system has increased the income of town panchayat by 6.00 lakh per
                        annum. We plan to expand this to other town panchayat's also. </p>
                  </div>
                  <div class="testimonial-name">Pooneri Town Panchayat</div>
               </div>
               <!--END OF TESTIMONIAL 3 -->
               <!--TESTIMONIAL 4 -->
               <div class="item">
                  <div class="shadow-effect">
                     <img class="img-circle" style="max-width: 120px;"
                        src="http://acronymsandslang.com/acronym_image/369/76e300f2bf8694510e29b0e6d28b5dd3.jpg" alt="">
                     <p>We had a very satisfying experience in working with the team in the 2 cities of Jharkhand.
                     </p>
                  </div>
                  <div class="testimonial-name">TWICL</div>
               </div>
               <!--END OF TESTIMONIAL 4 -->
               <!--TESTIMONIAL 5 -->
               <div class="item">
                  <div class="shadow-effect">
                     <img class="img-circle" style="max-width: 120px;"
                        src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/IIM_Bangalore_Logo.svg/1200px-IIM_Bangalore_Logo.svg.png"
                        alt="">
                     <p>District Metrics service is a useful resource for students and faculty in areas of Marketing,
                        Economics, demographics & analytics. IIM B is in the second year of its subscription towards
                        District Metrics
                     </p>
                  </div>
                  <div class="testimonial-name" style="font-size: .9rem; text-align:justify">IIM Banglore</div>
               </div>
               <!--END OF TESTIMONIAL 5 -->
            </div>
         </div>
      </div>
   </div>
</section>
<iframe
   src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15547.65460466996!2d80.2226279!3d13.0411681!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd8181a822f592a9f!2sAkara%20Research%20%26%20Technologies%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1598692381619!5m2!1sen!2sin"
   frameborder="0" style="border:0;width: 100vw; height: 50vh; margin-bottom: -10px;" allowfullscreen=""
   aria-hidden="false" tabindex="0"></iframe>
<%-include('partials/contact.ejs')%>
<%-include('partials/footer.ejs')%>