<%-include('partials/header.ejs')%>
<%-include('partials/navbar.ejs')%>
<div class="container header-container">
  <div class="row">
    <div class="heading">
      <h1>A New Era of Civic-tech by Akara Research</h1>
      <p>A data sciences driven Geo visual analytics firm</p>
      <div class="hero-width-flex">
        <a href="#" class="btn btn-primary text-secondary" data-cta-link="">
          Genesis
        </a>
        <a href="#" class="btn btn-outline-secondary text-secondary" data-cta-sign-up="">   
          Management
        </a>
      </div>
    </div>
    <img src="/images/header-new-3.png" class="graphic graphic-main-page hide"
      alt="Turn feedback from Qualtrics, Zendesk, Reviews, Complaints into reports easily">
  </div>
</div>
<%- include("partials/triangle-div") %>
<div class="container" id = "Genesis" style="text-align: justify; margin-top: -5%">
  <div class="row">
    <h4 class="pt-2 text-uppercase text-letter-spacing-xs  text-dark font-weight-bold">Genesis</h4>
    <p>Akara Research &amp; Technologies P Ltd incorporated in May 2013, by professionals with two decades of experience
      each in the information for governance sector.</p>
    <p>Sethuraman and Rohit Sabharwal had spent a major part of their career of 20 years each at the Centre
      for Monitoring Indian Economy, where they worked closely with various stakeholders - particularly the government
      and the regulatory sectors including banks - to assimilate data, putting in place the systems and human resources
      to collect, collate and disseminate information for a variety of users.</p>
    <p></p>
    <p>At the same time, Somasundaram, for over two decades, was a consumer of variety of data for different needs -
      economic research, understanding of district level economy, building governance solutions, and policy research. He
      built systems and solutions that could use the information for driving research and consulting.</p>
    <p></p>
    <p>A major part of interactions between Sethuraman, Rohit and Somasundaram were about data, data gaps, differences
      in data definitions and lack of systems to visualise data. Some common questions emerged in their discussions:</p>
    <p>- Can we build systems that decision-makers can use to inform themselves?</p>
    <p>- Can we bring systems to bring real-time information</p>
    <p>- Can we bridge the gaps of information cutting across locations and departments?</p>
    <p>- Can multiple stakeholders avail data for making the system robust ?</p>
    <p>- Can we bring impact data from the field to understand project efficacy?</p>
    <p>- How to understand outliers?</p>
    <p>- Can we visualise data - what happens, where it happens, and which regions are missing out?<br></p>
    <p>An intriguing point was: if we were baffling with such questions, what about decision-makers in polity, industry
      and researchers in academia? Our interactions with our network in these circles indicated that it was indeed the
      case. they had the same pain-points. And Akara was formed to solev the pain-points for decision-making.</p>
    <p></p>
    <p>Akara is data-science driven, Geo-visual (map) analytics firm, driven by its mission to solve information
      asymmetry problems for informed decision-making &amp; improved Governance. It delivers innovative and dependable
      products &amp; solutions across the spectrum of data needs, from sourcing of data to dissemination of processed
      information to different stakeholders.</p>

  </div>
</div>

<div class="container py-7" id = "management">
  <h4 class="text-uppercase text-letter-spacing-xs my-0 text-dark font-weight-bold">
    Our Management
  </h4>
  <hr class="hr-primary w-15 hr-xl ml-0 mb-5">

  <div class="row mb-5">
    <div class="col-md-6 pb-5 text-md-right">
      <center>
        <img src="/images/team2.jpg" alt="Personal Trainer 2"
        class="img-fluid border-white border-w-5 mt-5 pb-5 pt-5 w-50 w-md-80 w-lg-60 rounded-circle">
      </center>
    </div>
    <div class="col-md-6 flex-valign">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        R Sethuraman
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Founder</em>
      </h5>
      <hr class="hr-primary w-70 ml-0 mb-3">
      <p>R Sethuraman has over 20 years of experience in Business Development, Strategy & Operations. Prior to setting
        up Akara, Sethuraman headed Business Development & Operations at Centre for Monitoring Indian Economy (CMIE) for
        the Southern Region, India. In the last two years, he has been working with technology & research teams to build
        & deliver process-driven solutions in the areas of economic & business decision making in Government & Private
        sector. He did his MBA (Finance) from Institute for Technology & Management and has secured gold medal for his
        achievements.
        <br>
        Sethuraman served as Member-Board of Studies – Department of Economics, University of Madras during 2011-2013.
      </p>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-6 pb-5 order-md-2">
      <center>
        <img src="/images/team3.png" alt="Personal Trainer 3"
        class="img-fluid border-white border-w-5 pt-5 pb-5 mt-5 w-50 w-md-80 w-lg-60 rounded-circle">
      </center>
    </div>
    <div class="col-md-6 flex-valign text-md-right">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        L Somasundaram
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Director & Co-founder</em>
      </h5>
      <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
      <p>L Somasundaram is an economic analyst with 20 years of experience in managing and executing economic research
        projects of diverse nature, and delivering map-based analytics for informed decision-making. His expertise is in
        conceiving, designing and implementing ICT tools for development and governance. He has a post graduation in
        Econometrics and MBA in Finance. He had earlier served in the roles of Executive Director of Centre for
        Development Finance, IFMR and Economic Analyst at Reliance Industries Ltd in its Business Intelligence Unit.
      <ul>
        <li>He is a Member-Board of Studies – Department of Environmental Management, Bharathidasan University,
          Tiruchirappalli. </li>
        <li>Empanelled in the roster of WASH consultants under UNICEF since December 2018</li>
        <li> Empanelled in the roster of Inclusive Social Policy (ISP) consultants under UNICEF since December 2018
        </li>
      </ul>
      </p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-6 order-md-2">

      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Rohit Sabherwal
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Director</em>
      </h5>
      <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
      <p>Rohit Sabherwal is a business leader with two decades of professional experience in Business Development &
        Strategy at Centre for Monitoring Indian Economy P Ltd (CMIE). Worked at the highest level in the corporate
        sector, academia and government institutions. He is a post graduate from the Delhi School of Economics, Delhi
        University.
      </p>
    </div>
    <div class="col-md-6 flex-valign text-md-right">
      <center>
        <img src="/images/team1.jpg" alt="Personal Trainer 1"
        class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">

      </center>
     
    </div>
  </div>
</div>
<%-include('partials/contact.ejs')%>
<%-include('partials/footer.ejs')%>