<%-include('partials/header.ejs')%>
<%-include('partials/navbar.ejs')%>
<div class="container header-container">
   <div class="row">
      <div class="heading">
         <h1>Sectors</h1>
         <p>Sectors where we had worked upon</p>
         <div class="hero-width-flex">
            <a href="#contact" class="btn btn-primary text-secondary" data-cta-link="">
               Contact
            </a>
            <a href="#water" class="btn btn-outline-secondary text-secondary" data-cta-sign-up="">
               Sectors
            </a>
         </div>
      </div>
      <img src="/images/header-new-3.png" class="graphic graphic-main-page hide"
         alt="Turn feedback from Qualtrics, Zendesk, Reviews, Complaints into reports easily">
   </div>
</div>
<%- include("partials/triangle-div") %>
<div class="container main-page-video">
   <div class="row relative">
      <div class="">
         <video width="90%" height="auto" preload="auto" muted="" autoplay="" loop="">
            <source src="https://www.getthematic.com/assets/video/product_video.mp4" type="video/mp4">
            Your browser does not support the video tag.
         </video>
      </div>
   </div>
</div>
<div class="" style="padding: 4%;margin: 3%; margin-top: 2%; text-align: justify">
   <div class="shadow pb-5 pt-5 mb-5 mt-5">
       <div class="container" id="solutions">
           <div class="section-title">
               <h2>Customised Solution</h2>
               <div class="section-subtitle">Customised Solution</div>
               <span class="section-separator"></span>
               <center>
                   <p> Akara builds customised solutions in areas of Urban Governance – Water, Sanitation, Solid waste
                       management, Transportation, etc. The solutions are build for the ULBs along with partners
                       including Big four consultants, Multilateral agencies & Government corporations </p>
               </center>
           </div>
       </div>

       <div class="container" style="margin-bottom: 4%; ">
           <div class="row">
               <div class="col-md-12">
                   <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                       <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="headingOne">
                               <h4 class="panel-title">
                                   <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                       aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                       Instrument Design
                                   </a>
                               </h4>
                           </div>
                           <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                               aria-labelledby="headingOne">
                               <div class="panel-body">
                                   <p>
                                       Experienced set of professionals that help design the questionnaire taking into
                                       cognisance the trade-off between the respondent and the objectives of the study.
                                       The trade -off is finely balanced with an appropriate statistical methodology
                                       for data collection.<br>
                                   <ul style="padding-left: 7%;">
                                       <li>
                                           Understanding the study objectives
                                       </li>
                                       <li>
                                           Design Questionnaire
                                       </li>
                                       <li>
                                           Cognisance of the Respondent
                                       </li>
                                       <li>
                                           Sampling Design & Methodology
                                       </li>
                                   </ul>
                                   </p>
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="headingTwo">
                               <h4 class="panel-title">
                                   <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                       Field Work
                                   </a>
                               </h4>
                           </div>
                           <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                               aria-labelledby="headingTwo">
                               <div class="panel-body">
                                   <p>
                                       Network of enumerators and supervisors across the country. Technology driven
                                       surveys with centralised quality control processes and on field supervision. The
                                       enumerators are equipped with detailed documentation and on field training ----
                                       the instrument & the tech tools deployed for execution
                                   <ul style="padding-left: 7%;">
                                       <li>
                                           Pan India field survey
                                       </li>
                                       <li>
                                           FGDs
                                       </li>
                                       <li>
                                           Intensive Training
                                       </li>
                                       <li>
                                           Mock Sessions & Pre-testing
                                       </li>
                                   </ul>
                                   </p>
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="headingThree">
                               <h4 class="panel-title">
                                   <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                       Digital Tools
                                   </a>
                               </h4>
                           </div>
                           <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                               aria-labelledby="headingThree">
                               <div class="panel-body">
                                   <p>
                                       Expertise and the experience to build and deploy state-of-art tech. tools for
                                       conducting field surveys - CAPI based surveys
                                   <ul style="padding-left: 7%;">
                                       <li>
                                           CAPI / Web /Mobile Apps for real-time data collection & upload
                                       </li>
                                       <li>
                                           Geo referenced data
                                       </li>
                                       <li>
                                           Geo referenced Pictures & videos
                                       </li>
                                       <li>
                                           Real time data integration from IoT devices
                                       </li>
                                   </ul>
                                   </p>
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="headingFour">
                               <h4 class="panel-title">
                                   <a class="collapsed " role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                       GIS
                                   </a>
                               </h4>
                           </div>
                           <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                               aria-labelledby="headingFour">
                               <div class="panel-body">
                                   <p>
                                       GIS development and geo-visual analytics is a part of Akara’s projects. Our GIS
                                       expertise provides end-to-end solutions for our clients across different sectors
                                       that provide deeper insights into the sector ultimately enabling the
                                       decisionmakers to target the right intervention at the right location. Our GIS
                                       expertise extends across the value chain of GIS space:
                                   <ul style="padding-left: 7%;">
                                       <li>
                                           Obtaining georeferenced information from the ground
                                       </li>
                                       <li>
                                           Creating shapefiles with experienced cartographers
                                       </li>
                                       <li>
                                           GIS programming and analytics backed by robust methodologies
                                       </li>
                                       <li>
                                           Geo-visual dissemination of processed data on web and non-Web platforms.
                                       </li>
                                   </ul>
                                   </p>
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="headingFive">
                               <h4 class="panel-title">
                                   <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                       Research & Analysis
                                   </a>
                               </h4>
                           </div>
                           <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                               aria-labelledby="headingFive">
                               <div class="panel-body">
                                   <p>
                                       Akara has established research capacity across different sectors including
                                       macroeconomy, state and district level purchasing power in India, public policy,
                                       water and sanitation, urban and rural development, industrial growth,
                                       infrastructure and governance. Akara’s research team uses accurate data from
                                       authentic sources, robust and acknowledged methodology and a transparent process
                                       of research.
                                       <br>
                                       Akara’s outputs in terms of georeferenced MIS, monitoring, Evaluation, and
                                       learning (MEL) studies are products of its research endeavours.
                                       <br>
                                       Akara’s research commences with a strong understanding of the sector and
                                       complete analysis of data availability. We build the systems to bring in data
                                       that bridges any gaps. Our systems are then designed to achieve convergence of
                                       external and internal data that has impact on the study and those that can have
                                       an impact on the outcomes. Robust research methods are used systematically to
                                       analyse data, identify trends and outliers, and build insightful reports.
                                   </p>
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="headingSix">
                               <h4 class="panel-title">
                                   <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                       Dashboards & Impact
                                   </a>
                               </h4>
                           </div>
                           <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                               aria-labelledby="headingSix">
                               <div class="panel-body">
                                   <p>Akara’s capacities in ICT, GIS, real-time data and research analytics culminate
                                       in the impact-driving and action-prompting dashboards. Across different domains
                                       – from a simple complaints and grievance redressing for a urban local body,
                                       realtime data driven brand audit or a complex smart city system with multiple
                                       projects across multiple sectors, Akara’s dashboards are equipped to showcase
                                       emergent issues, prompting decision makers to act and send information to
                                       relevant stakeholders for interventions. </p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <!--- END COL -->
           </div>
           <!--- END ROW -->
       </div>
   </div>

</div>

<div style="text-align: justify;">
   <div class="container shadow p-5 mt-5 mb-5" id="WATER">
      <div class="row">
         <div class="col-md-6 order-md-first order-first ">
            <h2>Water</h2>
            <p>Akara’s data science driven systems help policy makers and administrators across the water value chain
               from sourcing, quality assessment, equitable and inclusive distribution (across distance and
               communities), demand assessment and supply gaps across cities and industrial hubs. Akara’s dashboards
               backed by real-time information enables the administration to plan and deliver water infrastructure
               across the city/industrial hub without gaps.</p>
            <br>
            <br>
            <br>
         </div>
         <div class="col-md-6  ">
            <img src="/images/water1.png" style="max-width: 100%;" alt="" srcset="">
         </div>
         <div class="col-md-6">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#water">
               Read More
            </button>
         </div>
      </div>
   </div>
   <div class="container shadow p-5 mt-5 mb-5" id="SANITATION">
      <div class="row">
         <div class="col-md-6  order-md-first order-first">
            <h2>Sanitation</h2>
            <p>Akara’s visual analytics solution for sanitation helps a city build its city sanitation plan based on
               real-time data; evaluate demand drivers in different regions, plan for new infrastructure at a
               micro-geography level based on demand gaps, evaluate gender gaps in sanitation infrastructure, evaluate
               the impact of infrastructure and policy implementation.
               <br> Akara’s household sanitation information map helps identify grey areas and challenges in septage
               related policy; it also helps assess the sewage volume for assessing the feasibility of STPs, requirement
               of mobile infrastructure for septage clearing at household level.
            </p>
            <br>
            <br>
            <br>
         </div>
         <div class="col-md-6">
            <img src="/images/s1.png" style="max-width: 100%;" alt="" srcset="">
         </div>
         <div class="col-md-6">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sanitation">
               Read More
            </button>
         </div>
      </div>
   </div>
   <div class="container shadow p-5 mt-5 mb-5" id="SWM">
      <div class="row">
         <div class="col-md-6  order-md-first order-first">
            <h2>Solid Waste Management</h2>
            <p>
               SWM faces considerable challenges - implementation of source segregation policies, Collection of waste,
               Safe disposal of solid waste, engagement of various stakeholders in the SWM value chain etc. With
               emerging technologies SWM provides opportunities - Value from waste, alternative power and Livelihoods.
            </p>
         </div>
         <div class="col-md-6">
            <img src="/images/swm2.jpg" style="max-width: 100%;" alt="" srcset="">
         </div>
         <div class="col-md-6">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#swm">
               Read More
            </button>
         </div>
      </div>
   </div>
   <div class="container shadow p-5 mt-5 mb-5" id="TRANSPORTATION">
      <div class="row">
         <h2>Transportation</h2>
         <div class="col-md-6">
            <p>Transport sector occupies a key position in uplifting the profile of any economy. This sector has
               witnessed tremendous changes in delivery models in the recent years, ever since the advent of user-pay
               and PPP models. Need for robust data for demand assessment, project monitoring and user-payments
               necessitated due to larger private sector and banking participation, multiplicity of stakeholders and the
               thrust imparted by Smart Cities projects on urban mobility. Akara’s has conducted various studies
            </p>
            <br>
            <br>
            <br>
         </div>
         <div class="col-md-6">
            <center>
               <img src="/images/t1.jpg" style="max-width: 40%;" alt="" srcset="">
            </center>
         </div>
         <div class="col-md-6">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#transportation">
               Read More
            </button>
         </div>
      </div>
   </div>
   <div class="container shadow p-5 mt-5 mb-5" id="UG">
      <div class="row">
         <h2>Urban Governance</h2>
         <div class="col-md-6">
            <p>Assessment of property tax collections, delivery of public utilities against service level benchmarks
               Akara has developed Geo-referenced database on properties & utilities benefitting ULBs in increasing
               their revenue.
            </p>
            <br>
            <br>
            <br>
         </div>
         <div class="col-md-6">
            <center>
               <img src="/images/ug1.jpg" style="max-width: 100%;" alt="" srcset="">
            </center>
         </div>
         <div class="col-md-6">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ug">
               Read More
            </button>
         </div>
      </div>
   </div>
   <div class="container shadow p-5 mt-5 mb-5" id="FMCG">
      <div class="row">
         <h2>FMCG</h2>
         <div class="col-md-6">
            <p>Locational intelligence is a key parameter to win the FMCG game. Akara’s solutions helps the FMCG
               companies to build robust locational intelligence systems. Geo-visual datasets at the level of the retail
               outlet with various business parameters captured by the FMCG – Ward level output, dynamic map display
               based on movement of specific brands, stock etc. Some of the benefits of the solution
            </p>
            <br>
            <br>
            <br>
         </div>
         <div class="col-md-6">
            <center>
               <img src="/images/fmcg.png" style="max-width: 100%;" alt="" srcset="">
            </center>
         </div>
         <div class="col-md-6">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fmcg">
               Read More
            </button>
         </div>
      </div>
   </div>

</div>
<div class="modal fade " id="water" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl">
      <div class="modal-content">
         <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Water</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     Akara’s data science driven systems help policy makers and administrators across the water value
                     chain from sourcing, quality assessment, equitable and inclusive distribution (across distance
                     and communities), demand assessment and supply gaps across cities and industrial hubs. Akara’s
                     dashboards backed by real-time information enables the administration to plan and deliver water
                     infrastructure across the city/industrial hub without gaps.
                  </div>
                  <div class="col-md-6">
                     <img src="/images/water1.png" class="image-fluid rounded" style="max-width: 100%;" alt=""
                        srcset="">
                     <p>Demand Assessment of 24x7 Drinking water at Peri Urban areas of Jamshedpur </p>
                  </div>
                  <div class="col-md-6">
                     <p>Akara has demonstrated its capability in the following areas:&nbsp;
                     <ol style="list-style-type: decimal;">
                        <li>
                           Demand Assessment for 24x7 Drinking Water Supply
                           <ul style="list-style-type: disc;">
                              <li>To understand the household distribution on the territory, essential for hydraulic
                                 modelling calibration</li>
                              <li>Creation of a Geospatial Database for Water Supply and Consumer Data Management
                              </li>
                              <li>To classify the consumer based on the activities (Residential, Commercial etc)</li>
                              <li>Database creation for estimating the revenues related to the tariff structure to be
                                 adopted for the different categories of users: residential, commercial, industrial
                                 and institutional users.</li>
                              <li>Consumer satisfaction level and expectations for an improved service</li>
                              <li>Development of GIS and IoT enabled Spatial Decision Support System</li>
                           </ul>
                        </li>
                        <li>Industrial water Assessment/ Water Security Audit</li>
                        <li>Non - Revenue Water</li>
                     </ol>
                     </p>
                  </div>
                  <div class="col-md-6">
                     <img src="/images/water2.png" class="image-fluid rounded" style="max-width: 100%;" alt=""
                        srcset="">
                     <p>Demand Assessment for Industrial Water at Dahej</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<div class="modal fade " id="sanitation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl">
      <div class="modal-content">
         <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Sanitation</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <p>Akara’s visual analytics solution for sanitation helps a city build its city sanitation plan
                        based on real-time data; evaluate demand drivers in different regions, plan for new
                        infrastructure at a micro-geography level based on demand gaps, evaluate gender gaps in
                        sanitation infrastructure, evaluate the impact of infrastructure and policy implementation.
                        <br> Akara’s household sanitation information map helps identify grey areas and challenges in
                        septage related policy; it also helps assess the sewage volume for assessing the feasibility
                        of STPs, requirement of mobile infrastructure for septage clearing at household level.
                     </p>
                  </div>
                  <div class="col-md-6">
                     <img src="/images/s1.png" class="image-fluid rounded" style="max-width: 100%;" alt="" srcset="">
                     <p>Demand gaps for planning and delivering public toilet infrastructure </p>
                  </div>
                  <div class="col-md-6">
                     <p>
                     <ol style="list-style-type: decimal;">
                        <li>
                           Public Toilet Management System
                           <ol style="list-style-type: lower-alpha;">
                              <li>Service level benchmarking</li>
                              <li>Mapping of inventories&nbsp;</li>
                              <li>Distance analytics</li>
                              <li>Complaints management system with dashboards</li>
                              <li>Identification, planning and delivery of infrastructure based on demand gaps at a
                                 ward level:</li>
                           </ol>
                        </li>
                        <li>Gender gap analysis at an infrastructure delivery level</li>
                        <li>
                           Faecal sludge and sewerage management system
                           <ol style="list-style-type: lower-alpha;">
                              <li>Identify and plan different types of FSSM according to size of urban areas</li>
                              <li>In towns with house-to-house septage system, create a GIS &ndash; linked MIS of
                                 sanitation related assets at the household level&nbsp;</li>
                              <li>Map the city on age of cleaning and other risk parameters</li>
                           </ol>
                        </li>
                     </ol>
                     </p>
                  </div>
                  <div class="col-md-6">
                     <img src="/images/s2.png" class="image-fluid rounded" style="max-width: 100%;" alt="" srcset="">
                     <p>2. GIS linked MIS of household level sanitation related assets for effective monitoring of
                        FSSM policy implementation for IIHS </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<div class="modal fade " id="transportation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl">
      <div class="modal-content">
         <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Transportation</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <p>Transport sector occupies a key position in uplifting the profile of any economy. This sector
                        has witnessed tremendous changes in delivery models in the recent years, ever since the
                        advent of user-pay and PPP models. Need for robust data for demand assessment, project
                        monitoring and user-payments necessitated due to larger private sector and banking
                        participation, multiplicity of stakeholders and the thrust imparted by Smart Cities projects
                        on urban mobility. Akara’s has conducted various studies
                     </p>
                  </div>
                  <div class="col-md-6">
                     <img src="/images/t1.jpg" class="image-fluid rounded" style="max-width: 50%;" alt="" srcset="">
                     <p>Feasibility study for greenfield railway line between Pune &ndash; Nasik</p>
                     <ul style="list-style-type: disc;">
                        <li>24/7 primary survey on vehicular movement</li>
                        <li>Conducted origin-destination and speed-delay surveys to assess demand potential</li>
                        <li>Projections on future demand growth and modal shift based on economic forecasting</li>
                     </ul>
                  </div>
                  <div class="col-md-6">
                     <p>
                     <ul style="list-style-type: decimal;">
                        <li>Traffic Analysis and mobility studies based on real-time data projections based on
                           simulations for cities with map-based visuals. </li>
                        <li>Origin-Destination assessment studies for road and rail projects, feasibility studies and
                           Speed-Delay surveys to assess the demand potential for transport infrastructure.</li>
                        <li>Transport sector studies are backed by robust estimates of demography and economy in the
                           impact areas. </li>
                     </ul>
                     </p>
                  </div>
                  <div class="col-md-6">
                     <img src="/images/t2.jpg" class="image-fluid rounded" style="max-width: 50%;" alt="" srcset="">
                     <p>Demand Assessment for Industrial Water at Dahej</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<div class="modal fade " id="ug" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl">
      <div class="modal-content">
         <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Urban Governance</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <p>Assessment of property tax collections, delivery of public utilities against service level
                        benchmarks Akara has developed Geo-referenced database on properties & utilities benefitting
                        ULBs in increasing their revenue.
                     <ul style="list-style-type: disc;">
                        <li>Streamline the processes of maintaining records of properties and utilities in the towns,
                           and standardize them across all the municipal bodies in the State.</li>
                        <li>Roll-out Standardized database and software solution covering all the ULBs.</li>
                        <li>&nbsp;Digitize records and make them available to all stakeholders online</li>
                        <li>map-view to facilitate understanding of reach and clustering of civic services against
                           properties</li>
                     </ul>
                     </p>
                  </div>
                  <div class="col-md-6">
                     <img src="/images/ug1.jpg" class="image-fluid rounded" style="max-width: 100%;" alt="" srcset="">
                     <p>GIS linked MIS for Directorate of Town Panchayat of Ponneri, Government of Tamil Nadu.
                        An 11% increase in property tax revenues upon implementation of the Geo-referenced system
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<div class="modal fade " id="swm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl">
      <div class="modal-content">
         <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Solid Waste Management</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <p>SWM faces considerable challenges - implementation of source segregation policies, Collection of
                        waste, Safe disposal of solid waste, engagement of various stakeholders in the SWM value chain
                        etc. With emerging technologies SWM provides opportunities - Value from waste, alternative power
                        and Livelihoods.
                     <p>Akara brings data Science to address governance issues in SWM</p>
                     <ul style="list-style-type: disc;">
                        <li>Gaps in waste bins locations (number of bins per 100 households)</li>
                        <li>Reachability of bins (streetlights availability &ndash; convergence from other data)</li>
                        <li>Citizen engagement: complaints/suggestions on waste disposal</li>
                        <li>Quantum and type of waste from various sources (institutional, households, businesses) for
                           value generation</li>
                        <li>Risk zones of waste generation during natural calamities such as floods</li>
                        <li>Real-time data and routes for waste collection trucks</li>
                     </ul>
                     </p>
                  </div>
                  <div class="col-md-3">
                     <img src="/images/swm1.png" class="image-fluid rounded" style="max-width: 100%;" alt="" srcset="">
                     <p>GIS linked MIS for Directorate of Town Panchayat of Ponneri, Government of Tamil Nadu.
                        An 11% increase in property tax revenues upon implementation of the Geo-referenced system
                     </p>

                  </div>
                  <div class="col-md-3">
                     <img src="/images/swm3.png" class="image-fluid rounded" style="max-width: 100%;" alt="" srcset="">
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<div class="modal fade " id="fmcg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl">
      <div class="modal-content">
         <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">FMCG</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <p>Locational intelligence is a key parameter to win the FMCG game. Akara’s solutions helps the
                        FMCG companies to build robust locational intelligence systems. Geo-visual datasets at the level
                        of the retail outlet with various business parameters captured by the FMCG – Ward level output,
                        dynamic map display based on movement of specific brands, stock etc. Some of the benefits of the
                        solution </p>
                     <ul style="list-style-type: disc;">
                        <li>Targeted brand promotion</li>
                        <li>Insights on success patterns/efficacy of Ad campaigns at different regions in the cit</li>
                        <li>Comparative analytics across brands</li>
                        <li>Competition analysis</li>
                     </ul>
                     </p>
                  </div>
                  <div class="col-md-6">
                     <img src="/images/fmcg.png" class="image-fluid rounded" style="max-width: 100%;" alt="" srcset="">
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<%-include('partials/contact.ejs')%>
<%-include('partials/footer.ejs')%>